<html layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content">
        <form method="contact" name="comment_form" id="comment_form" action="/contacts/update" role="form">
            <div class="form-group">
                <label>First name</label>
                <input rows="5" class="form-control" id="firstName" name="firstName"/> <br/>
                <label>Last name</label>
                <input rows="5" class="form-control" id="lastName" name="lastName" /> <br/>
                <label>Phone</label>
                <input rows="5" class="form-control" id="phone" name="phone" /> <br/>
                <label>Email</label>
                <input rows="5" class="form-control" id="email" name="email" /> <br/>
                <label>Address</label>
                <input rows="5" class="form-control" id="address" name="address" /> <br/>
            </div>
            <input type="hidden" id="contact_id" class="form-control" name="contact_id" th:value="${contact.id}"/>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>